@import './scss/vars';
@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import './scss/fonts';
@import './scss/grid';
@import './scss/btns';
@import './scss/cards';


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
  min-height: 100vh;
}

a {
  color: var(--primary);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

img.img-fluid {
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}
/*MOVER */
main {
  display: block;
  margin-top: 80px;
}

.home-slider  {
   .card {
     margin-top: 1rem;
     margin-bottom: 1rem;
   }
}
.section-title {
  text-align: center;
}


.temporal {
  padding:3rem 0;
}

.product-category {
  padding: 4px 8px;
  /* background-color: #6494ff; */
  border-radius: 9px;
  font-weight: bold;
  font-size: .9rem;
  color: white;

  &.category-marcadores {
    background-color: #19de82;
  }
    
  &.category-stickers {
    background-color: #E042FF;

  }
}

