@import './scss/vars';
@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import './scss/fonts';
@import './scss/grid';
@import './scss/btns';
@import './scss/cards';




* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
  min-height: 100vh;
}

a {
  color: var(--primary);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*MOVER */
.home-slider  {
   .card {
     margin-top: 1rem;
     margin-bottom: 1rem;
   }
}
.section-title {
  text-align: center;
}