@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "./scss/vars";
@import "./scss/fonts";
@import "./scss/grid";
@import "./scss/btns";
@import "./scss/cards";


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
  min-height: 100vh;
}

a {
  color: var(--primary);
}
.strong {
  font-weight: 800;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

img.img-fluid {
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}
/*MOVER */
main {
  display: block;
  margin-top: 80px;
  min-height: 100vh;
}

.home-slider  {
   .card {
     margin-top: 1rem;
     margin-bottom: 1rem;
   }
}
.section-title {
  text-align: center;
}


.temporal {
  padding:3rem 0;
}

.product-category {
  padding: 4px 8px;
  background-color: #18A9F2;
  border-radius: 9px;
  font-weight: 600;
  font-size: 13px;
  color: white;

  &.category-marcadores {
    background-color: #19de82;
  }
    
  &.category-stickers {
    background-color: #E042FF;

  }
}

.alert {
  background-color: #ffd2d2;
  border-radius: 5px;
  padding: 15px;
  font-weight: bold;
}

.loader-container {
  display: flex;
  height: 100%;
  background-color: var(--primary-light);
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 999;
  top:0;

}