
.widget-conatador {
  margin-top:1rem;
}
.contador {
    position: relative;
    width: 100%;
    max-width: 200px;
}
  
.btn-count {
  border: 0px;
  background-color: transparent;
  font-size: 100%;
  line-height: 1;
  padding: 0px;
  text-align: center;
  display: inline-block;
  width: auto;
  height: auto;
  position: absolute;
  top:18px;
  cursor: pointer;
}

input.field.field-counter {
  border: 0px;
  border-radius: 10px;
  height: 48px;
  padding: 5px 15px;
  text-align: center;
  /* min-width: 30px; */
  margin-top: 20px;
  width: 100%;
  max-width: 200px;
  margin-top: 0px;
  background-color: #F6F3FB;
}

.btn-plus {

  right: 10px;
}

.btn-minus {
  left: 10px;
}

#addToCar {
  margin:1rem 0px;
}