$gutter: 14px;

.container {
    display:block;
    margin:0 auto;
    width: 100%;
    max-width: 1400px;
    padding-right: calc(#{$gutter}/2);
    padding-left: calc(#{$gutter}/2);

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-#{$gutter}/2);
    margin-left: calc(-#{$gutter}/2);
}

.col {
    padding-left: calc(#{$gutter}/2);
    padding-right: calc(#{$gutter}/2);
    width:100%;
}
.col-3 {
    @extend .col;
    @include min-lg {
        width: calc(100%/4);
    }
}
.col-4 {
    @extend .col;
    @include min-lg {
        width: calc(100%/3);
    }
}

.col-6 {
    @extend .col;
    @include min-lg {
        width: calc(100%/2);
    }
}

.col-8 {
    @extend .col;
    @include min-lg {
        width: calc(100%/1.5);
    }
}